<!DOCTYPE html>
<html lang="en">
<head>

  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/main.css">
  
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/app.js"></script>

  <title>Because Combinator</title>
</head>
<body>
	<div class="container">
		<header>
			<a href="/" class="logo">Hacker News</a>
			<nav class="left">
				<a href="#news">news&nbsp;|&nbsp;</a>
				<a href="#comments">comments&nbsp;|&nbsp;</a>
				<a href="#ask">ask&nbsp;|&nbsp;</a>
				<a href="#jobs">jobs&nbsp;|&nbsp;</a>
				<a href="#submit">submit</a>
			</nav>
			<a href="#login" class="right">login</a>
		</header>
		<div class="content">
  		<%= yield %>
  	</div>
  	<footer></footer>
	</div>
</body>
</html>
